<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Eau Claire's Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <h2>Eau Claire's Hair Salon</h2>
      <hr>
      @RenderBody()
    </div>
  </body>
</html>