@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<p>Are you sure you want to delete stylist @Html.DisplayFor(model => model.StylistName) from the index?</p>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<hr>
<p>@Html.ActionLink("Back to Stylists", "Index") | @Html.ActionLink("Home", "Index", "Home")</p>