@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h2>Your Stylists</h2>
<hr>

  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.StylistName}", "Details", new { id = stylist.StylistId })</li>
    <hr>
  }

<p>@Html.ActionLink("Add a new Stylist", "Create", "Stylists")</p>