@{
  Layout = "_Layout";
} 

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h4>Current Index of Stylists:</h4>
<hr>

  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.StylistName}", "Details", new { id = stylist.StylistId }): @stylist.StylistPhone</li>
    <hr>
  }

<p>@Html.ActionLink("Add a new Stylist", "Create", "Stylists") | @Html.ActionLink("Home", "Index", "Home")</p>