@{
  Layout = "_Layout";
} 

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h2>Your Stylists</h2>
<hr>
  @if (@Model.Stylists.Count == 0)
  {
    <p>No clients have been added.</p>
  }

  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.StylistName}", "Details", new { id = stylist.StylistId }): @stylist.StylistPhone</li>
    <hr>
  }

<p>@Html.ActionLink("Add a new Stylist", "Create", "Stylists")</p>